.home-container {
  .tabs {
    :global {
      .adm-tab-bar-item-active {
        color: #21b97a;
      }
      .adm-tab-bar-item {
        flex: 1 1;
        color: var(--adm-color-weak);
        white-space: nowrap;
        padding: 5px 32px;
        width: min-content;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}
