html,body{
  background-color:  #fff;
  color:#ccc;
  font-family:'MicroSoft YaHei';
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
}
/* 地图占满整个屏幕 */
html, body,#root,.App{
  height: 100%;
}
h2,h3,ul,p{
  margin:0;
}
ul{
  list-style: none;
}